@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 6.5rem;
    }

    body {
        font-family: 'Space Grotesk', sans-serif;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #1a1a1a;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #8b0000;
    }
}
